/* screen - login-fail-page */

.login-fail-page {
  align-items: center;
  background-color: var(--tundora);
  display: flex;
  flex-direction: column;
  height: 1080px;
  width: 1920px;
}

.login-fail-page .erp-title-bar {
  align-items: flex-start;
  display: flex;
  height: 82px;
  justify-content: center;
  min-width: 1920px;
}

.login-fail-page .overlap-group {
  align-items: flex-start;
  background-color: var(--gray);
  display: flex;
  height: 92px;
  margin-top: -5px;
  min-width: 1930px;
  padding: 20.5px 140px;
}

.login-fail-page .tech440-employee-resource-page {
  letter-spacing: 0;
  line-height: 41px;
  min-height: 46px;
  white-space: nowrap;
}

.login-fail-page .overlap-group3 {
  background-color: var(--gray);
  border-radius: 50px;
  height: 754px;
  margin-left: 1.0px;
  margin-top: 81px;
  position: relative;
  width: 1443px;
}

.login-fail-page .x56 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 50px;
  display: flex;
  height: 105px;
  left: 233px;
  min-width: 966px;
  padding: 27.7px 31.3px;
  position: absolute;
  top: 348px;
}

.login-fail-page .x19 {
  align-items: flex-end;
  background-image: url(../img/file---6-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 40px;
  min-width: 38px;
  padding: 10.5px 15.3px;
}

.login-fail-page .x2 {
  background-color: var(--white);
  border-radius: 3.82px;
  height: 8px;
  width: 8px;
}

.login-fail-page .x55 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 233px;
  min-height: 238px;
  position: absolute;
  top: 180px;
  width: 966px;
}

.login-fail-page .overlap-group1 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 50px;
  display: flex;
  height: 105px;
  min-width: 966px;
  padding: 27.0px 25.6px;
}

.login-fail-page .x18 {
  align-items: flex-end;
  background-image: url(../img/file---2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 50px;
  padding: 2.4px 0;
}

.login-fail-page .overlap-group-1 {
  height: 33px;
  position: relative;
  width: 50px;
}

.login-fail-page .x3 {
  height: 19px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.login-fail-page .x4 {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 50px;
}

.login-fail-page .x5 {
  height: 29px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 39px;
}

.login-fail-page .please-type-in-your-username-container {
  align-self: center;
  height: 29px;
  margin-left: 26px;
  margin-top: 2.0px;
  position: relative;
  width: 320px;
}

.login-fail-page .please-type-in-your-username {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 320px;
}

.login-fail-page .please-type-in-your-password {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 101px;
  margin-top: 106px;
  min-height: 29px;
  width: 320px;
}

.login-fail-page .x57 {
  cursor: pointer;
  display: flex;
  height: 56px;
  left: 1043px;
  position: absolute;
  top: 474px;
  width: 135px;
}

.login-fail-page .x25 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  min-width: 135px;
}

.login-fail-page .overlap-group-2 {
  border-radius: 50px;
  height: 56px;
  position: relative;
  width: 135px;
}

.login-fail-page .user-profile-window {
  background-color: var(--tundora);
  border-radius: 50px;
  cursor: pointer;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
}

.login-fail-page .sign-in {
  -webkit-text-stroke: 1px var(--blue);
  color: var(--blue);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.login-fail-page .x61 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  left: 336px;
  min-height: 394px;
  padding: 73px 30px;
  position: absolute;
  top: 175px;
  width: 761px;
}

.login-fail-page .invalid-username-or-password {
  -webkit-text-stroke: 1px #ff0000;
  color: #e32828;
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 40px;
  min-height: 55px;
  width: 566px;
}

.login-fail-page .please-try-again {
  color: #b0a9a9;
  font-family: var(--font-family-segoeui-regular);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 38px;
  min-height: 42px;
  width: 216px;
}

.login-fail-page .page-1 {
  cursor: pointer;
  display: flex;
  height: 48px;
  left: 1009px;
  position: absolute;
  top: 207px;
  width: 48px;
}

.login-fail-page .artboard {
  display: flex;
  flex: 1;
  width: 48px;
}

.login-fail-page .x-circle {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 48px;
}

.login-fail-page .overlap-group-3 {
  background-color: #ffffff61;
  border: 4px solid var(--blue);
  border-radius: 24px;
  height: 52px;
  margin-top: -2px;
  position: relative;
  width: 52px;
}

.login-fail-page .shape {
  height: 20px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 20px;
}
