:root { 
  --black: #000000;
  --blue: #2000ff;
  --celeste: #cfcfcf;
  --dove-gray: #707070;
  --gray: #919191;
  --romance: #fffcfc;
  --tundora: #444444;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 12px;
  --font-size-xl: 32px;
  --font-size-xs: 1px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 41px;
 
  --font-family-microsoftsans_serif-regular: "MicrosoftSans Serif-Regular", Helvetica;
  --font-family-microsofttai_le-regular: "MicrosoftTai Le-Regular", Helvetica;
  --font-family-mongolian_baiti: "Mongolian Baiti", Helvetica;
  --font-family-mongolianbaiti-regular: "MongolianBaiti-Regular", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}
.microsoftsansserif-regular-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-microsoftsans_serif-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.mongolianbaiti-regular-normal-romance-41px {
  color: var(--romance);
  font-family: var(--font-family-mongolianbaiti-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.segoeui-bold-dove-gray-12px {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.segoeui-regular-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.mongolianbaiti-normal-romance-41px {
  color: var(--romance);
  font-family: var(--font-family-mongolian_baiti);
  font-size: var(--font-size-xxxl);
}

.mongolianbaiti-regular-normal-blue-41px {
  color: var(--blue);
  font-family: var(--font-family-mongolianbaiti-regular);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.microsofttaile-regular-normal-white-32px {
  color: var(--white);
  font-family: var(--font-family-microsofttai_le-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.segoeui-regular-normal-blue-1px {
  color: var(--blue);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.border-5px-blue {
  border: 5px solid var(--blue);
}

.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}

.border-10px-dove-gray {
  border: 10px solid var(--dove-gray);
}
